<% content_for :styles do %>
  <%= stylesheet_link_tag 'users/devise/default' %>
<% end %>

<section class="devise-form-sec">
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <br />
    <div class="field-wrapper">
      <%= f.label :email, class: "field-label" %>
      <%= f.email_field :email, class: "field", placeholder: "enter your email", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: "btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
