<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'users/show' %>
  <%= stylesheet_link_tag 'shared/_author' %>
  <%= stylesheet_link_tag 'shared/_post' %>
<% end %>

<% content_for(:navs) do %>
  <%= render 'shared/navs/main' %>
<% end %>

<section class="users-show">
  <%= render 'shared/author', author: @user %>

  <div class="bio">
    <h4>Bio</h4>
    <p><%= @user.bio %></p>
  </div>

  <ul class="recent-posts-list">
    <li>
      <%= link_to 'Add New Post', new_user_post_path(@user), class: 'btn add-post' %>
    </li>
    <% @user.recent_three_posts.each do |post| %>
      <%= render 'shared/post', post: %>
    <% end %>
  </ul>

  <%= link_to 'SEE ALL POSTS', user_posts_path(@user), class: 'btn all-posts' %>
</section>
