<% content_for :styles do %>
  <%= stylesheet_link_tag 'posts/index' %>
  <%= stylesheet_link_tag 'shared/_author' %>
  <%= stylesheet_link_tag 'shared/_post' %>
  <%= stylesheet_link_tag 'shared/_comment' %>
  <%= stylesheet_link_tag 'shared/_comment_form' %>
<% end %>

<div class="links-group">
  <%= render 'shared/author', author: %>
  <%= link_to 'Add New Post', new_user_post_path(author), class: 'btn add-post-btn' %>
</div>

<div class="user-posts">
  <% @posts.each do |post| %>
    <div>
      <%= render 'shared/post', post: %>
      <%= render 'shared/comment', post: %>
    </div>
  <% end %>

  <button type="button" class="btn pagination">Pagination</button>
</div>
