<% content_for(:styles) do %>
  <%= stylesheet_link_tag 'posts/show' %>
  <%= stylesheet_link_tag 'shared/_comment' %>
  <%= stylesheet_link_tag 'shared/_comment_form' %>
<% end %>

<% content_for(:navs) do %>
  <%= render 'shared/navs/main' %>
<% end %>

<div class="post-show">
  <div class="post-show-preview">
    <h3>
      <b>
        Post #<%= @post.id %>: <%= @post.title %> by <%= @post.author.name %>
      </b>
      <span>
        <i>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></i>
      </span>
    </h3>
    <p class="post-desc"><%= @post.text %></p>

    <% if can?(:create, Like) %>
      <%= render 'shared/like', post: @post %>
    <% end %>

    <% if can?(:destroy, @post) %>
      <%= link_to('delete', user_post_path(current_user, @post), data: { turbo_method: :delete }) %>
    <% end %>

  </div>

  <%= render 'shared/comment', all:, post: @post %>

</div>
