<% content_for :styles do %>
  <%= stylesheet_link_tag 'posts/show' %>
  <%= stylesheet_link_tag 'shared/_comment' %>
  <%= stylesheet_link_tag 'shared/_comment_form' %>
<% end %>

<div class="post-show">
  <div class="post-show-preview">
    <h3>
      <b>
        Post #<%= @post.id %>: <%= @post.title %> by <%= @post.author.name %>
      </b>
      <span>
        <i>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></i>
      </span>
    </h3>
    <p class="post-desc"><%= @post.text %></p>
    <%= render 'shared/like', post: @post %>
  </div>
  <%= render 'shared/comment', all:, post: @post %>
</div>
